body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Attack";
  src: url("./assets/fonts/Attack13-rKrx.ttf") format("truetype");
}
@font-face {
  font-family: "Simple Squatch";
  src: url("./assets/fonts/BiasaSans-MVpRP.ttf") format("truetype");
}

@font-face {
  font-family: "Bear";
  src: url("./assets/fonts/BaarZeitgeist-2EZo.ttf") format("truetype");
}
@font-face {
  font-family: "Marakech";
  src: url("./assets/fonts/MukeshCreativeDesignsV2-rKJ7.otf") format("opentype");
}

