.profile-pic {
  width: 300px
}

.artist-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  margin: 0 auto;
  padding: 30px
}
.artist-details-row {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px
}
.artist-details-section {
  padding: 20px;
}

.display-titles {
  font-size: 1em;
}

.location-name {
  font-size: 1.25em;
  text-shadow: 4px 4px 4px white;
}

.artwork-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  /* padding:20px; */
  /* padding: 20px; */
  
}
.add-art-container {
  position:relative;
  text-align: center;
  color: black;
  margin: 45px auto;
}
.add-art {
  transition:1s ease-out;

}
.hidden-text {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1;
  display: none;
}
.hidden-text:hover {
  display: block;
}
.add-art:hover {
  /* display:block; */
  opacity: 0.5;
}

.artwork-container {
  /* border: 1px solid black; */
  height: 250px;
  width: 200px;
  padding: 0 10px;
  margin: 0 auto;
  background: rgba(196, 196, 196, 0.4);
  box-shadow: 2px 2px 10px rgb(109, 108, 108);
}
.artist-details-artwork{
  width: auto;
  height: auto;
  max-height: 100px;
  margin: 0 auto;
  box-shadow: 2px 2px 10px rgb(99, 98, 98);
}


.artwork-edit-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.artwork-delete-link {
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .artist-details-row {
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
  }
.artist-details-section {
  padding: 20px;
}
.artwork-row {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  /* padding: 20px; */
  
}
  .artwork-container {
    margin: 20px auto;
  }
}

