.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.landing-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.welcome-section {
  font-size: 25px;
  margin: 20px;
}
.welcome-section-title {
  font-size: 30px;
}

.paintbrush {
  box-shadow: none;
  width: 200px;
  margin: 20px;
  height: 200px;
}

.call-to-action {
  font-size: 20px;
  margin: 20px;
}

.paintbrushes {
  width: 200px;
  height: 200px;
}

.sign-up-link {
  color: rgb(59, 59, 181);
}
.sign-up-link:hover {
  text-shadow: 2px 2px 2px rgb(43, 39, 31);
}

@media screen and (max-width: 660px) {
  .landing-page-container {
    width: 400px;
    margin: 0 auto;
  }

  .welcome-section {
    font-size: 15px;
  }
  .welcome-section-title {
    font-size: 20px;
  }

  .paintbrush {
    box-shadow: none;
    width: 150px;
    margin: 20px;
    height: 150px;
  }
  .paintbrushes {
    width: 150px;
    height: 150px;
  }
  .call-to-action {
    font-size: 14px;
    margin: 20px;
  }
}
@media screen and (max-width: 420px) {
  .landing-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
