.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url("https://res.cloudinary.com/willnolin/image/upload/v1628863223/gallery_wood_floor_ulihh6.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  box-sizing: border-box;
}

.greeting {
  background-color: rgba(250, 249, 248, 0.9);
  font-size: 0.75em;
  width: 100%;
}

.landing-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.first {
  margin: 0 auto;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}
.top-row-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  margin-right: 40px;
}

.top {
  text-align: center;
  width: 50%;
}
.welcome-section-title {
  font-size: 35px;
  font-weight: bolder;
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  margin-bottom: 0;
  width: 500px;
}
.welcome-section {
  font-size: 20ßpx;
  margin-top: 0;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.paintbrush {
  box-shadow: none;
  width: 200px;
  margin: 20px;
  height: 200px;
}

.second {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.75);
}
.second-row-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 20px;
}

.connect-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  max-width: 480px;
  height: 400px;
  background: url("https://res.cloudinary.com/willnolin/image/upload/v1628870697/pink-paper_j7sx5x.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 30px rgb(179, 178, 178);
}

.connect-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  max-width: 480px;
  height: 400px;
  /* background-size: cover; */
  background-color: black;
  border-radius: 3px;
  opacity: 0.3;
}
.connect {
  position: absolute;
  font-size: 40px;
  margin: 20px;
  font-weight: bold;
  color: rgba(252, 251, 250, 1);
  font-family: "Inter", sans-serif;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}

.connect:hover {
  text-decoration: underline;
}

.featured-artist-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 3px;
  width: 50%;
  max-width: 480px;
  height: 400px;
  background: url("https://res.cloudinary.com/willnolin/image/upload/v1627062609/girl_lagp5c.jpg");
  background-size: cover;
  background-color: black;
  box-shadow: 0.5px 0.5px 30px rgb(179, 178, 178);
}
.featured-artist-overlay,
.call-to-host-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 100%;
  max-width: 480px;
  height: 400px;
  /* background-size: cover; */
  border-radius: 3px;

  background-color: black;
  opacity: 0.6;
}

.featured-artist,
.call-to-host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  font-size: 40px;
  margin: 20px;
  font-weight: bold;
  color: rgb(252, 251, 250);
  font-family: "Inter", sans-serif;
}

.call-to-host {
  bottom: 100px;
  font-size: 30px;
}
.call-to-host-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  max-width: 480px;
  height: 400px;
  background: url("https://res.cloudinary.com/willnolin/image/upload/v1627062604/girl_looking_wmif1p.jpg");
  background-size: cover;
  background-color: black;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 30px rgb(179, 178, 178);
}
.call-to-action-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  max-width: 300px;
  height: 400px;
  margin: 0 40px;
  border-radius: 3px;
  /* padding: 20px; */
  font-family: "Inter", sans-serif;
  background-color: rgb(250, 249, 248);
  box-shadow: 0.5px 0.5px 30px rgb(179, 178, 178);
}
/* .call-to-action-overlay {
  position: absolute;
  width: 100%;
  max-width: 480px;
  height: 400px;
  /* background-size: cover; */
/* background-color: black;
  opacity: 0.6;
} */
.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10%;
  bottom: 10%;
  font-size: 15px;
  width: 80%;
  margin: 20px auto;
  font-weight: bold;
  color: rgb(8, 8, 8);
  font-family: "Inter", sans-serif;
}

.paintbrushes-call-to-action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 1px;
  /* height: fit-content; */
}
.call-to-action-gallery-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  max-width: 300px;
  height: 400px;
  margin: 0 40px;
  border-radius: 3px;
  /* padding: 20px; */
  font-family: "Inter", sans-serif;
  background-color: rgb(250, 249, 248);
  box-shadow: 0.5px 0.5px 30px rgb(179, 178, 178);
}
/* .call-to-action-overlay {
  position: absolute;
  width: 100%;
  max-width: 480px;
  height: 400px;
  /* background-size: cover; */
/* background-color: black;
  opacity: 0.6;
} */
.gallery-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10%;
  bottom: 10%;
  font-size: 15px;
  width: 80%;
  margin: 20px auto;
  font-weight: bold;
  color: rgb(8, 8, 8);
  font-family: "Inter", sans-serif;
}

.host-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  box-shadow: none;
}
.no-shadow {
  box-shadow: none;
}
.fourth {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("https://res.cloudinary.com/willnolin/image/upload/v1628887204/paint-wall_tn85bp.jpg");
  background-size: cover;
  margin: 0 auto;
}
.fourth-overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 80%;
  width: 80%;
  background-color: rgba(250, 249, 248, 0.8);
  margin: 0 auto;
}
.solid {
  background-color: rgb(250, 249, 248);
  opacity: 1;
}
.yellow-gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0px;
  box-shadow: none;
  /* height: fit-content; */
}
.paintbrushes {
  width: 100%;
  border-radius: 2px;
  /* height: fit-content; */
}

.sign-up-link {
  font-size: 20px;
  color: rgb(59, 59, 181);
}
.sign-up-link:hover {
  text-shadow: 2px 2px 10px rgb(240, 191, 95);
}

@media screen and (max-width: 770px) {
  .landing-page-container {
    width: 400px;
    margin: 0 auto;
  }
  .landing-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .second {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* margin: 50px auto; */
    background: rgba(255, 255, 255, 0.75);
  }
  .second-row-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* width: 80%; */
    /* margin: 20px; */
  }
  .call-to-action-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 20px auto;
    border-radius: 3px;
    font-family: "Inter", sans-serif;
    background-color: rgb(250, 249, 248);
    box-shadow: 0.5px 0.5px 30px rgb(179, 178, 178);
  }
  .call-to-action {
    font-size: 14px;
    margin: 0 auto;
    /* left: 3%; */
  }

  .welcome-section {
    font-size: 12px;
  }
  .welcome-section-title {
    font-size: 15px;
  }

  .paintbrush {
    box-shadow: none;
    width: 150px;
    margin: 20px;
    height: 150px;
  }
  .paintbrushes {
    width: 150px;
    height: 150px;
  }
  .connect-card {
    width: 100%;
  }

  .connect {
    font-size: 20px;
    margin: 20px;
  }

  .connect:hover {
    text-decoration: underline;
  }

  .featured-artist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
    width: 100%;
  }
  .call-to-action-gallery-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 20px auto;
  }

  .host-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    font-size: 0.85em;
    margin-right: 20px;
    height: 300px;
    box-shadow: none;
  }

  .featured-artist {
    font-size: 25px;
  }

  .call-to-host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 135px;
    font-size: 18px;
    margin: 20px;
    font-weight: bold;
    color: rgb(252, 251, 250);
    font-family: "Inter", sans-serif;
  }

  .call-to-host-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .fourth {
    max-height: 600px;
  }
  .fourth-overlay {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
@media screen and (max-width: 420px) {
  .landing-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
