.location-details-container {
  display: flex;
  flex-direction: column;
}
.location-details-row {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px
}
.location-details-title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.title {
  margin-bottom: 0
}
.city-state {
  margin-top: 2px
}
.location-details-artists {
background-color: #C4C4C4;
padding: 10px;
height: auto;
overflow: scroll;
}

.location-image {
  width: 300px;
}
.location-details-details {
  display: flex;
  flex-direction:column;
  width: 350px;
}