.locations-container {
  display: flex;
  flex-direction: column;
}

.locations-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}

.location-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  background-color: #C4C4C4;
  border: 1px solid black;
  box-shadow: 4px,4px,4px, rgb(5, 5, 5);
}

.location-card-img {
  width: 100px;
  height: auto
}