<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
  <p>Hi <%= @user.username%>, </p>
  
  <h3>Welcome to <span style="color: purple">Art Wall</span>, a community for artists and art lovers.</h3> 
  <p>
  A few tips to get started...
  <ol>
  <li> Fill out your profile details so people can search for you.</li>
  <li> Add photos of some of your artwork</li>
  <li> Browse through the host galleries and contact them to set up a meeting.</li>
  <li> Once the host approves you and has your art in house, Edit your artwork to be included in that specific location.</li>
  <li> The gallery profile will automatically update their list of featured artists!</li>
  </ol>
  </p>
  <p>Thanks for joining,</p>
  
  <p>-The Art Wall Team</p>


  </body>
</html>


