.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #B98F91;
  height: 60px;
}
.header-left {
  display:flex;
  justify-content:space-around;
  align-items: center;
  margin-left: -70px;
  width: 30%;
  /* font-size: 1.5em;
  font-weight: bolder;
  color:#E7B780;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.6) */
}

.profile-pic-menu-icon {
  display:none;
}

.header-profile-pic {
  width: 32px;
  border-radius: 70px;
  /* margin-right:5px; */
}
.header-username {
  /* margin-left: 5px; */
}

a.header-links {
  text-decoration: none;
  font-size: 1em;
  font-weight: bolder;
  color:#E7B780;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.6)
}

.header-title {
  display:flex;
  justify-content:space-around;
  align-items: center;
  font-size: 2.5em;
  font-weight: bolder;
  color:#E7B780;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.6);


}
.hamburger-menu {
  display: none;

}
.hamburger {
  display: none;
  width: 30px;
  margin: 15px;
}

.header-right {
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 25%;
}
@media screen and (max-width:1024px) {

  .header-left {
    margin-left: 0
  }
  .header-username {
  display: none;
  }

}

@media screen and (max-width:420px) {
  
  .header-left {
    display: none;
  }
  
  .header-right {
    display: none;
  }
  
  .profile-pic-menu-icon {
      display: block;
      border-radius: 100px;
      margin:20px;
  }
  .hamburger-menu-icon {
    display: block;
}
.hamburger {
  display:block;
}

}


